.cart-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.cart {
  border: 1px solid #ddd;
  margin: 10px 20px;
}

/* .cartlink {
} */

.cart > div {
  display: inline-block;
}

.cart a {
  text-decoration: none;
  color: #000;
  font-size: 110%;
}

.cart img {
  width: 90px;
}

.cart button {
  height: 45px;
  width: 170px;
  padding: 14px;
}

.product-counter > span {
  cursor: pointer;
  text-align: center;
  padding-top: 6px;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #222;
  background-color: #eee;
  border: 1px solid #efefef;
}

.product-counter > input {
  display: inline-block;
  width: 40px;
  height: 30px;
  border: 1px solid #efefef;
  color: #222;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  outline: none;
}
