.cart-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.cart {
  border: 1px solid #ddd;
  margin: 10px 20px;
}

/* .cartlink {
} */

.cart a {
  text-decoration: none;
  color: #000;
  font-size: 110%;
}

.cart img {
  width: 90px;
  height: 90px;
  display: inline;
}

.cart button {
  height: 45px;
  width: 170px;
  padding: 14px;
}

.product-counter {
  display: inline-flex;
  margin-bottom: 30px;
}

.product-counter > span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #222;
  background-color: #efefef;
  border: 1px solid #efefef;
}

.product-counter > input {
  border: 1px solid #efefef;
  height: 40px;
  width: 60px;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
}
