/*------- PRODUCT PAGE --------*/

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: 80px;
  align-items: flex-start;
  margin: 30px 30px;
}

/* .product-wrapper > div {
  border: 1px solid #000;
} */

.product-wrapper img {
  max-width: 100%;
  cursor: pointer;
}

.product-photo {
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
  padding: 0 15px;
}

.product-wrapper .product-links {
  padding: 10px;
}

.product-wrapper .card-img {
  height: 350px;
}

.product-wrapper .card-img > img {
  max-width: 80%;
}

.product-wrapper .card-img:hover img {
  max-width: 90%;
}

.photo-album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 15px;
  background-color: #fff;
}

.photo-album > img {
  width: 55px;
  height: 55px;
  padding: 5px;
  border: 1px solid #a6a6a6;
}

.product-info > h1 {
  font-weight: 400;
}

.price {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 500;
}

.price > small {
  color: #808080;
  padding-left: 10px;
  font-size: 70%;
  text-decoration: line-through;
}

.product-info > p {
  margin: 40px 0;
  line-height: 140%;
}

.product-counter {
  display: flex;
  margin-bottom: 60px;
}

.product-counter > span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #222;
  background-color: #efefef;
  border: 1px solid #efefef;
}

.product-counter > input {
  border: 1px solid #efefef;
  height: 40px;
  width: 60px;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
}

.product-info > .btn {
  margin-right: 5px;
}

/*------- REVIEWS --------*/

.container-review {
  border: 1px solid #ddd;
  margin: 0 30px;
}

.container-review > .tab {
  padding: 20px 0 0 20px;
  background-color: #eee;
}

.container-review > .tab > button {
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 0px 20px;
  font-size: 90%;
  outline: none;
}

.tab-content {
  padding: 0 20px 30px;
}

.rating,
.review {
  text-align: center;
}

.rating > i {
  font-size: 25px;
}

.rating > i,
.review > i {
  margin-top: 10px;
  color: #ff621a;
  color: #f7dd52;
}

.tab-content > h4 {
  padding: 20px 0;
  font-size: 120%;
  font-weight: 400;
}

.product-features {
  border: 1px solid #ddd;
}

.product-features > div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 18px;
}

.product-features > div:nth-child(odd) {
  background-color: #eee;
}

.product-features > div > p {
  padding: 15px;
}

.product-features > div > p:last-child {
  border-left: 1px solid #ddd;
}

/*------- COMMENTS --------*/

.comment {
  border-bottom: 1px solid #ddd;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
  gap: 20px;
}

.comment > div > h4 {
  text-align: center;
}

.comment > div > h3 {
  margin-bottom: 10px;
}

.comment > div:nth-child(2) {
  border-left: 1px solid #ddd;
  padding-left: 25px;
}

.comment > div:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: right;
}

.likes {
  align-self: flex-end;
}

.likes > div {
  display: inline;
  cursor: pointer;
}

.likes > div:hover > i {
  color: #ff621a;
}

.likes > div:first-child {
  margin-right: 15px;
}

.likes > div > i {
  color: #b8b8b8;
}

@media (max-width: 890px) {
  .product-wrapper {
    gap: 50px;
  }

  .price > small {
    display: block;
    padding-top: 10px;
  }

  /*------- COMMENTS --------*/

  .comment {
    grid-template-columns: 2fr 1fr;
  }

  .comment > div:first-child {
    grid-column: 1/4;
    margin-bottom: 30px;
  }

  .comment > div > h4,
  .comment > div > .rating {
    text-align: left;
  }

  .comment > div:nth-child(2) {
    border: none;
    padding: 0;
  }
}

@media (max-width: 750px) {
  .product-wrapper {
    grid-template-columns: 1fr;
  }

  .product-wrapper .card-img {
    height: 300px;
  }

  .price > small {
    display: inline;
  }
}

@media (max-width: 535px) {
  .product-info > h1 {
    font-size: 24px;
  }

  .price {
    font-size: 20px;
  }

  .comment > div:first-child {
    grid-column: 1/2;
  }

  .comment {
    grid-template-columns: 1fr;
  }

  .comment > div:nth-child(3) {
    grid-template-columns: 1fr 1fr;
  }

  .data {
    justify-self: left;
  }
}

@media (max-width: 450px) {
  .product-info > .btn,
  .product-info > .btn-real {
    display: block;
    margin: 10px auto;
  }

  .price > small {
    display: block;
    padding: 10px 0;
  }

  .container-review > .tab > button {
    margin-right: 10px;
  }
}
