/*------- BASIC SETUP --------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*------- REUSABLE COMPONENTS -------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 40px 0;
}

.product-wrapper {
  /* border: 1px solid #000; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 20px 0;
}

/* HEADING */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 140%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #ff621a;
  content: '';
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
}

/* BUTTONS */

button {
  cursor: pointer;
}

.btn:link,
.btn:visited,
.btn-real {
  width: 190px;
  height: 55px;
  text-align: center;
  display: inline-block;
  padding: 16px 0;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-white:link,
.btn-white:visited {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}

.btn-white:hover,
.btn-white:active {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}

.btn-black:link,
.btn-black:visited,
.btn-real {
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
}

.btn-black:hover,
.btn-black:active,
.btn-real:hover,
.btn-real:active {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/*------- NAVBAR --------*/

.top-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  font-size: 90%;
}

.top-nav ul {
  padding-top: 7px;
  float: right;
}

.check-box,
#nav-check {
  display: none;
}

nav {
  height: 90px;
  background-color: #fff;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
}

nav > .row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.nav-left {
  /* border: 1px solid #000; */
  margin-top: 17px;
  display: grid;
  grid-template-columns: 0fr 1fr 2fr;
  gap: 20px;
  /* justify-items: left;
  align-self: center; */
}

.brand-name {
  /* border: 1px solid #000; */
  margin-left: 20px;
  font-size: 210%;
}

.brand-name > a {
  color: #000;
  text-decoration: none;
}

.search-form {
  align-self: center;
}

.search-form > input {
  width: 370px;
  height: 40px;
  padding: 15px;
  font-size: 15px;
  border-radius: 30px;
  background-color: #eee;
  border: none;
  outline: none;
}

.search-form > input:focus {
  border: 1px solid #ff621a;
}

.search-form button {
  position: absolute;
  margin: 5px 0 0 -35px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ff621a;
  border: 1px solid #fa4f00;
  outline: none;
  font-size: 15px;
  color: #fff5d3;
}

.nav-right {
  /* border: 1px solid #000; */
  position: relative;
  margin-top: 17px;
  margin-right: 5px;
  justify-self: right;
  align-self: center;
}

.nav-right > ul {
  list-style: none;
}

.nav-right li,
.top-nav li {
  margin: 0 10px;
  display: inline-block;
}

.nav-right .nav-link {
  text-transform: uppercase;
}

.nav-link {
  padding: 20px 0;
  color: #000;
  text-decoration: none;
  font-size: 80%;
  transition: font-size 0.2s;
}

.nav-link::after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 5px;
  height: 2px;
  width: 0px;
  background: #ff621a;
  transition: all 0.2s linear;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #ff621a;
}

/* DROPDOWN LINK */

.dropdown-container {
  display: none;
  position: absolute;
  right: 0px;
}

.dropdown-content {
  margin-top: 20px;
  padding: 5px 0;
  background-color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content .btn {
  display: block;
  margin: 12px 30px;
  height: 50px;
  width: 200px;
  padding: 14px 0;
}

.dropdown-content .btn-white:hover,
.dropdown-content .btn-white:active {
  background-color: rgba(13, 187, 13, 0.7);
  border: 2px solid rgba(13, 187, 13, 0.7);
}

.nav-right li:last-child > a:hover ~ .dropdown-container,
.dropdown-container:hover {
  display: block;
}

/*------- HEADER --------*/

.landing {
  margin: 20px 30px 0;
  background-size: cover;
  background-position: center;
}
.landing-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/bg/Shopping.jpg);
  height: 600px;
}

.container-home {
  margin: 0 auto;
  text-align: center;
  margin-top: 400px;
  background-color: #fff;
  width: 450px;
  height: 100px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
}

.container-home > a {
  margin-top: 22px;
}

/*------- FEATURED PRODUCTS -------*/

.more {
  text-align: center;
  margin-top: 40px;
}

.more > .btn {
  width: 220px;
}

.product-card {
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
}

.product-card a {
  text-decoration: none;
}

.badge {
  position: absolute;
  left: 0;
  top: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
}

.product-tumb:hover img {
  max-width: 110%;
  max-height: 110%;
}

.product-details {
  padding: 15px;
}

.product-category {
  display: block;
  font-size: 70%;
  font-weight: 600;
  color: #b7b7b7;
  margin-bottom: 15px;
}

.product-details h4 > a {
  display: block;
  font-weight: 500;
  margin-bottom: 18px;
  color: #363636;
  transition: 0.3s;
}

.product-details h4 a:hover,
.product-category:hover {
  color: #fbb72c;
}

.product-bottom-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  border-top: 1px solid #dadada;
  padding-top: 10px;
}

.product-price {
  line-height: 110%;
  font-size: 20px;
  font-weight: 600;
  justify-self: left;
}

.product-price small {
  color: #808080;
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: block;
}

.product-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-links > button {
  width: 40px;
  height: 40px;
  font-size: 19px;
  border-radius: 100%;
  background-color: #eee;
  color: #b8b8b8;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.product-links > button:last-of-type {
  justify-self: right;
}

.product-links button:hover {
  color: #fbb72c;
}

/*------- CONTENT ASSET SECTION --------*/

.content-wrapper {
  padding: 40px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 70%;
}

.content-wrapper > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.content-wrapper > div > p {
  align-self: center;
}

.content-wrapper > div > i {
  justify-self: center;
  font-size: 35px;
}

/*------- FOOTER --------*/

footer {
  background-color: #292c2f;
  font-weight: bold;
  font-size: 80%;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-left,
.footer-center,
.footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-left {
  width: 40%;
}

footer h3 {
  color: #fff;
  font-weight: normal;
  font-family: 'Cookie', cursive;
  font-size: 300%;
}

footer h3 span {
  color: #5383d3;
}

.footer-links {
  color: #fff;
  margin: 20px 0 12px;
}

.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
}

.footer-center {
  width: 35%;
}

.footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: auto;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
}

.footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-right {
  width: 20%;
}

.footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
}

.footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-icons {
  margin-top: 25px;
}

.footer-icons a {
  display: inline-block;
  width: 35px;
  height: auto;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/*------- PRODUCT PAGE --------*/

.product h3 {
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}

.product img {
  max-width: 100%;
  filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: white;
  border-radius: 5px;
}

.product-photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: -2.5em;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
  border-radius: 6px 6px 0 0;
  background-color: #9be010;
  background: radial-gradient(#e5f89e, #96e001);
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  color: #fff;
}
.controls i {
  cursor: pointer;
}

.photo-main img {
  position: absolute;
  left: -3.5em;
  top: 2em;
  max-width: 110%;
  filter: saturate(150%) contrast(120%) hue-rotate(10deg)
    drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

.photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}

.photo-album ul {
  display: flex;
  justify-content: space-around;
}

.photo-album li {
  float: left;
  width: 55px;
  height: 55px;
  padding: 7px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

/* ----- Informations Section ----- */
.product-info {
  padding: 0.8em 0;
}

.title h1 {
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900;
}

.title span {
  font-size: 0.7em;
  color: #a6a6a6;
}

.price {
  margin: 1.5em 0;
  color: #ff3f40;
  font-size: 1.2em;
}
.price span {
  padding-left: 0.15em;
  font-size: 2.9em;
}
/* 
.variant {
  overflow: auto;
}
.variant h3 {
  margin-bottom: 1.1em;
}

.variant li {
  float: left;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.variant li:first-child,
.variant li:hover {
  border: 1px solid #a6a6a6;
}

.variant li:not(:first-child) {
  margin-left: 0.1em;
} */

.description {
  clear: left;
  margin: 2em 0;
}
.description h3 {
  margin-bottom: 1em;
}

.description ul {
  font-size: 0.8em;
  list-style: disc;
  margin-left: 1em;
}

.description li {
  text-indent: -0.6em;
  margin-bottom: 0.5em;
}

/* .buy--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #ff3f40;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
}
.buy--btn:active {
  transform: scale(0.97);
} */

/*------- LOGIN PAGE --------*/

.landing-login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/bg/login2.jpg);
  height: 1000px;
}

.container-login {
  margin-left: 20px;
  height: 900px;
  width: 700px;
  background-color: #eee;
  text-transform: uppercase;
}

.tab {
  padding: 20px 80px 40px;
}

.tab button {
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  width: 250px;
  height: 55px;
  font-size: 90%;
}

.tab-content {
  margin-left: 80px;
}

.tab-content h1 {
  color: #000;
  font-size: 150%;
  margin-bottom: 20px;
  text-align: center;
  width: 80%;
}

.tab-content input {
  margin: 10px 0 20px;
  padding: 10px;
  font-size: 16px;
  width: 500px;
  height: 45px;
  display: block;
}
.tab-content label {
  padding-bottom: 20px;
  font-size: 70%;
}

#check {
  margin-right: 5px;
  margin-top: 17px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#check ~ label {
  cursor: pointer;
}

.tab-content .btn-real {
  margin-top: 5px;
  display: block;
  width: 220px;
  height: 55px;
  padding-top: 17px !important;
  margin-bottom: 20px;
}

.tab-content h3 {
  font-weight: bold;
  font-size: 90%;
  width: 80%;
  text-align: center;
}

.tab-content .btn-google ~ h3 {
  margin-bottom: 30px;
  margin-top: 0;
}

.btn-facebook,
.btn-google {
  margin: 20px 10px 20px 0;
  width: 245px !important;
  height: 55px !important;
  padding-top: 17px !important;
  color: #fff;
}

.btn-facebook:link,
.btn-facebook:visited {
  background-color: #3b61b3;
}

.btn-google:link,
.btn-google:visited {
  background-color: #f74e38;
}

.btn-facebook:hover,
.btn-facebook:active {
  background-color: #0f3da0;
}

.btn-google:hover,
.btn-google:active {
  background-color: #d42b15;
}

/*---------- FOR LESS THAN 480PX WIDTH ----------*/

@media (max-width: 930px) {
  /*------- REUSABLE COMPONENTS --------*/

  .span_1_of_3 {
    width: 48%;
  }

  /*------- NAVBAR --------*/

  .check-box {
    display: inline-block;
  }

  .nav-btn {
    /* display: inline-block; */
    margin-top: 20px;
    margin-left: 10px;
  }

  /* .nav-btn label {
    display: block;
    width: 25px;
    height: 20px;
    padding: 5px;
  } */

  .nav-btn > label:hover,
  #nav-check:checked ~ .nav-btn label {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .nav-btn span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 1px solid #000;
  }

  nav {
    height: 70px;
  }

  .nav-left,
  .nav-right {
    margin-top: 10px;
  }

  .nav-right {
    margin-right: 20px;
  }

  .nav-right span {
    display: none;
  }

  .nav-right li {
    margin: 0 5px;
  }

  .nav-right li:last-child > a:hover ~ .dropdown-container {
    display: none;
  }

  /* .nav-right {
    display: none;
    position: absolute;
    background-color: #eee;
    width: 80%;
    top: 0;
    left: 0;
    overflow-y: auto;
    height: 100vh;
  } */
  /* 
  .nav-left li {
    display: block;
    margin-top: 8px;
  }

  .nav-left .nav-link {
    padding: 0 10px;
  }

  .nav-left .nav-link::after,
  .nav-left .nav-link:hover::after {
    all: unset;
  }

  .nav-left i {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000;
  } */

  /* .brand-name {
    margin-top: 8px;
    display: inline-block;
  } */

  /* .brand-name a:link,
  .brand-name a:visited {
    font-size: 200%;
  } */

  /*------- CONTENT ASSET SECTION --------*/

  .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  /*------- FOOTER --------*/

  footer {
    font: bold 14px sans-serif;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-center i {
    margin-left: 0;
  }

  /*------- LOGIN PAGE --------*/

  .container-login {
    width: 450px;
  }

  .tab {
    padding: 20px 20px 40px;
  }

  .tab button {
    width: 200px;
    height: 35px;
  }

  .tab-content {
    margin-left: 20px;
  }

  .tab-content h1 {
    font-size: 130%;
    width: 90%;
  }

  .tab-content input {
    width: 400px;
  }

  .tab-content .btn-real {
    width: 190px;
  }

  .tab-content h3 {
    width: 92%;
  }

  .btn-facebook,
  .btn-google {
    width: 195px !important;
  }
}

@media (max-width: 549px) {
  .landing {
    margin: 20px 13px;
  }

  section {
    padding: 20px 0;
  }

  .content-wrapper {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 200%;
    word-spacing: 2px;
  }

  h2 {
    font-size: 120%;
    word-spacing: 1px;
    margin-bottom: 10px;
  }

  h2::after {
    height: 1px;
    margin-top: 10px;
  }

  .container-home {
    width: 220px;
    height: 130px;
  }

  .container-home a {
    margin: 10px 0 0;
  }

  .product-card {
    margin: 20px 0 20px 13px;
  }

  .product-tumb {
    height: 150px;
  }

  .product-tumb:hover a.btn {
    display: none;
  }

  .product-details {
    padding: 10px;
  }

  .product-details h4 a {
    font-size: 80%;
  }

  .product-bottom-details {
    padding-top: 5px;
  }

  .product-details p {
    display: none;
  }

  /*------- LOGIN PAGE --------*/

  .container-login {
    margin-left: 10px;
    height: 900px;
    width: 300px;
  }
  /* 
  .tab {
    padding: 20px 20px 40px;
  } */

  .tab button {
    padding-bottom: 10px;
    width: 125px;
    font-size: 60%;
  }

  .tab-content h1 {
    font-size: 110%;
  }

  .tab-content input {
    width: 250px;
  }

  .tab-content h3 {
    width: 95%;
    margin-bottom: 15px;
  }

  .btn-facebook,
  .btn-google {
    margin: 0 0 15px 30px;
  }
}

/* .tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} */

/* 
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.col p {
  font-size: 90%;
  line-height: 145%;
} */
