/*------- BASIC SETUP --------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*------- REUSABLE COMPONENTS -------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 40px 0;
}

.span_1_of_3 {
  width: 32.26%;
  display: inline-block;
}

/* HEADING */
h1,
h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 150%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #000;
  content: '';
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

/* ICONS */

.icon-white {
  font-weight: normal;
}

/* BUTTONS */
.btn:link,
.btn:visited {
  width: 180px;
  height: 50px;
  text-align: center;
  display: inline-block;
  padding: 13px 0;
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: none;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-white:link,
.btn-white:visited {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}

.btn-white:hover,
.btn-white:active {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}

.btn-black:link,
.btn-black:visited {
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
}

.btn-black:hover,
.btn-black:active {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/*------- NAVBAR --------*/

nav {
  height: 90px;
  background-color: #fff;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.nav-btn,
#nav-check,
.nav-left i {
  display: none;
}

.brand-name {
  width: 25%;
  font-family: 'Cookie', cursive;
  margin-top: 15px;
  display: inline-block;
}

.brand-name a:link,
.brand-name a:visited {
  font-size: 300%;
  color: #000;
  text-decoration: none;
  transition: font-size 0.2s;
}

.brand-name a:hover,
.brand-name a:active {
  font-size: 310%;
  transition: font-size 0.2s;
}

.nav-left {
  width: 35%;
  float: left;
}

.nav-right {
  width: 35%;
  float: right;
  text-align: right;
}

.main-nav {
  margin-top: 35px;
  list-style: none;
}

.main-nav li {
  margin: 0 15px;
  display: inline-block;
}

.nav-link {
  padding: 20px 0;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  transition: font-size 0.2s;
}

.nav-link::after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 5px;
  height: 2px;
  width: 0px;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.2s linear;
}

.nav-link:hover::after {
  width: 100%;
  margin-top: 5px;
  transition: all 0.2s linear;
}

/* DROPDOWN LINK */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content .btn {
  margin: 10px 30px;
}

.dropdown-content .btn-white:hover,
.dropdown-content .btn-white:active {
  background-color: rgba(13, 187, 13, 0.7);
  border: 2px solid rgba(13, 187, 13, 0.7);
}

.dropdown a:hover ~ .dropdown-content,
.dropdown-content:hover {
  display: block;
}

/*------- HEADER --------*/

.landing {
  margin: 20px 30px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/bg/Shopping.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.hero-text-box {
  text-align: left;
  margin: 70px;
}

.landing-btn {
  text-align: center;
  margin-top: 30px;
  background-color: #eee;
  width: 450px;
  height: 100px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
}

.landing-btn a {
  margin: 25px 10px 0 0;
}

/*------- FEATURED PRODUCTS -------*/

.more {
  text-align: center;
  margin-top: 10px;
}

.product-card {
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 30px 0;
  margin-left: 20px;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background: #f0f0f0;
  z-index: 1;
}

.product-tumb a.btn {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-tumb a:nth-child(1) {
  top: 20%;
}

.product-tumb a:nth-child(2) {
  top: 32%;
}

.product-tumb:hover a.btn {
  display: block;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
}

.product-tumb:hover img {
  max-width: 108%;
  max-height: 108%;
  transition: all 0.3s;
}

.product-details {
  padding: 25px;
}

.product-catagory {
  display: block;
  font-size: 60%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 15px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  position: absolute;
  right: 10px;
  bottom: 15px;
  text-align: right;
}

.product-links a {
  display: inline-block;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 18px;
}

.product-links a:hover {
  color: #fbb72c;
}

/*------- CONTENT ASSET SECTION --------*/

.content {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 70%;
  text-align: center;
}

.content-asset {
  display: inline-block;
  width: 23%;
  vertical-align: middle;
  margin: 0 7px;
}

.content-asset p {
  display: inline-block;
  width: 70%;
  text-align: left;
  margin-left: 15px;
  vertical-align: middle;
}

.content-asset i {
  vertical-align: middle;
  font-size: 35px;
}

/*------- FOOTER --------*/

footer {
  background-color: #292c2f;
  font-weight: bold;
  font-size: 80%;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-left,
.footer-center,
.footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-left {
  width: 40%;
}

footer h3 {
  color: #fff;
  font-weight: normal;
  font-family: 'Cookie', cursive;
  font-size: 300%;
}

footer h3 span {
  color: #5383d3;
}

.footer-links {
  color: #fff;
  margin: 20px 0 12px;
}

.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
}

.footer-center {
  width: 35%;
}

.footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: auto;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
}

.footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-right {
  width: 20%;
}

.footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
}

.footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-icons {
  margin-top: 25px;
}

.footer-icons a {
  display: inline-block;
  width: 35px;
  height: auto;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/*---------- FOR LESS THAN 480PX WIDTH ----------*/

@media (max-width: 930px) {
  /*------- REUSABLE COMPONENTS --------*/

  .span_1_of_3 {
    width: 48%;
  }

  /*------- NAVBAR --------*/

  .nav-btn {
    display: inline-block;
    width: 10%;
    margin-left: 10px;
  }

  .nav-btn label {
    display: block;
    width: 25px;
    height: 20px;
    padding: 5px;
  }

  .nav-btn label:hover,
  #nav-check:checked ~ .nav-btn label {
    background-color: rgba(0, 0, 0, 0.2);
  }

  #nav-check:checked ~ .nav-left {
    display: inline-block;
  }

  .nav-btn span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 1px solid #000;
  }

  .nav-left {
    display: none;
    position: absolute;
    background-color: #eee;
    width: 80%;
    top: 0;
    left: 0;
    overflow-y: auto;
    height: 100vh;
  }

  .nav-left li {
    display: block;
    margin-top: 8px;
  }

  .nav-left .nav-link {
    padding: 0 10px;
  }

  .nav-left .nav-link::after,
  .nav-left .nav-link:hover::after {
    all: unset;
  }

  .nav-left i {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000;
  }

  nav {
    height: 60px;
  }

  .brand-name {
    margin-top: 8px;
    display: inline-block;
  }

  .brand-name a:link,
  .brand-name a:visited {
    font-size: 200%;
  }

  .nav-right span {
    display: none;
  }

  .nav-right li {
    margin: 0 5px;
  }

  .main-nav {
    margin-top: 15px;
  }

  .dropdown-content {
    right: 0;
  }

  .hero-text-box br {
    display: none;
  }

  /*------- CONTENT ASSET SECTION --------*/

  .content {
    padding: 20px 0;
  }

  .content-asset {
    width: 42%;
    margin: 15px 0;
  }

  /*------- FOOTER --------*/

  footer {
    font: bold 14px sans-serif;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-center i {
    margin-left: 0;
  }
}

@media (max-width: 529px) {
  section {
    padding: 20px 0;
  }

  .content-asset {
    width: 100%;
  }

  h1 {
    font-size: 200%;
    word-spacing: 2px;
  }

  h2 {
    font-size: 110%;
    word-spacing: 1px;
    margin-bottom: 10px;
  }

  h2::after {
    height: 1px;
    margin-top: 10px;
  }

  .hero-text-box {
    margin: 30px;
  }

  .landing-btn {
    width: 220px;
    height: 130px;
  }

  .landing-btn a {
    margin: 10px 0 0;
  }

  .product-card {
    margin: 20px 0 20px 13px;
  }

  .product-tumb {
    height: 150px;
  }

  .product-tumb:hover a.btn {
    display: none;
  }

  .product-details {
    padding: 10px;
  }

  .product-details h4 a {
    font-size: 80%;
  }

  .product-bottom-details {
    padding-top: 5px;
  }

  .product-details p {
    display: none;
  }
}

/* 
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.col p {
  font-size: 90%;
  line-height: 145%;
} */

/* .icon-search {
  position: absolute;
  font-size: 18px;
  color: #000;
  margin-top: 7px;
  margin-left: 5px;
} */

/* SEARCH LINK */
/* #search-input {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  width: 10px;
  height: 30px;
  padding-left: 30px;
  font-size: 18px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.search:hover #search-input,
#search-input:focus {
  background: #fff;
  color: #000;
  width: 180px;
  outline: none;
}

.clear-icon {
  position: absolute;
  margin: 5px -23px 0;
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.clear-icon:after {
  content: 'X';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fa9595;
  z-index: 1;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #e50f0f;
  cursor: pointer;
}
#search-input:not(:valid) ~ .clear-icon {
  display: none;
} */

/*------- LOGIN PAGE --------*/

.landing-login {
  margin: 20px 30px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/bg/login2.jpg);
  background-size: cover;
  background-position: center;
  height: 150vh;
}

.container-login {
  margin-left: 30px;
  height: 800px;
  width: 700px;
  background-color: #eee;
  text-transform: uppercase;
}

.tab {
  width: 80%;
  margin: 0 80px 40px;
}

.tab button {
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #000;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 250px;
  font-size: 90%;
  cursor: pointer;
}

.tab-content {
  margin-left: 80px;
  font-size: 70%;
}

.tab-content h1 {
  color: #000;
  margin-bottom: 20px;
  margin-left: 110px;
}

.tab-content input {
  margin: 10px 0 20px;
  padding: 10px;
  font-size: 16px;
  width: 500px;
  height: 45px;
  display: block;
}
.tab-content label {
  padding-bottom: 20px;
  vertical-align: middle;
}

#check {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.tab-content a.btn-black {
  display: block;
  width: 200px;
}

.tab-content h3 {
  font-size: 130%;
  margin-top: 20px;
  margin-left: 180px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.btn-facebook {
  background-color: #3b61b3;
}

.btn-google {
  background-color: #f74e38;
}
.btn-facebook,
.btn-google {
  margin: 20px 5px;
  width: 250px !important;
  height: 55px !important;
  padding-top: 17px !important;
  color: #fff;
}

/* .tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} */
